In [39]:
import pandas as pd
import numpy as np

pd.set_option('display.max_colwidth', 200)

In [4]:
df = pd.read_csv('Ecommerce_Indonesia_21-Mar-2023_28-Mar-2023_Z3s0ZfZ2T4\Ecommerce_Indonesia_21-Mar-2023_28-Mar-2023_Z3s0ZfZ2T4_0.csv', on_bad_lines='skip', sep=';')

c:\Users\danendra\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (18,19,31,45,51,52,53,54,58,62,65,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,87,88,89,90,91,92,93,94,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,117,118,119,120,121,123,124,125,127,128,130,131,132,133,134,135,136,137,138,139,140,142,143,145,146,147,148,149,150,151,152,153,154,155,158,159,160,161,163,164,165,167,168,169,170,172,173,174,175,177,178,179,180,182,183,184,185,186,187,188,191,192,194,195,196,197,198,200,202,203,204,205,206,207,208,209,210,212,213,214,217,218,219,223,224,225,228,229,232,234,237,238,243,244,245,248,251,254,257,261,262,263,264,266,267,270,274,275,277,278,279,280,282,286,288,289,291,292,293,295,296,298,299,300,301,302,303,304,305,306,307,309,310,311,312,313,322,326,328,329,330,333,334,335,337,342,345,347,350,351,353,358,359,366,368,372,373,377,383,384,385,387,389,390,392,393,396,397,398,400,401,404,405,406,407,408,409,410,411,413,414,415,417,419,420,421,422,423,424,426,427,428,429,430,432,433,434,436,437,438,440,442,443,444,445,447,448,449,451,452,453,455,456,457,458,459,460,461,463,465,466,467,470,471,472,473,474,475,476,477,478,479,480,481,482,486,487,488,489,492,496,498,499,500,501,502,503,504,506,508,509,510,512,513,516,519,520,521,522,525,526,527,529,530,532,534,536,538,542,543,549,550,556,560,561,567,568,569,570,571,572,573,574,575,576,577,578,580,581,585,592,593,594,596,597,599,606,607,608,621,626,627,628,629,630,631,632,634,635,638,639,640,641,642,643,644,645,706,712) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df.shape

(33638, 715)

In [8]:
df

,original_id,date_created,resource_type,specific_resource_type,specific_type,post_type,stream_type,object_name,object_content,from_id,...,tokped,belanjaonline,test,harga,mahal,produk,price,delivery,website&apps,customerservice
0,'122545052213_10161417223862214,21/03/2023 13.00,'social_media,'facebook,'post,'post_made,'account,'OLX Indonesia,'122545052213,'122545052213,...,NaN,NaN,NaN,NaN,NaN,'Produk,'Price,NaN,NaN,NaN
1,'3066272719103750352,25/03/2023 19.43,'social_media,'instagram,'media,'post_made,'account,'shopee_id,'1650642060,'1650642060,...,NaN,NaN,NaN,NaN,NaN,'Produk,'Price,'Delivery,NaN,NaN
2,'17987814376785261,25/03/2023 09.37,'social_media,'instagram,'comment,'post_made,'account,'shopee_id,'1650642060,'1650642060,...,NaN,NaN,NaN,NaN,NaN,'Produk,NaN,NaN,NaN,'Customer Service
3,'17982051497069957,25/03/2023 09.24,'social_media,'instagram,'comment,'post_made,'account,'shopee_id,'1650642060,'1650642060,...,NaN,NaN,NaN,NaN,NaN,'Produk,NaN,NaN,NaN,'Customer Service
4,'17968777397096729,25/03/2023 07.38,'social_media,'instagram,'comment,'post_made,'account,'shopee_id,'1650642060,'1650642060,...,NaN,NaN,NaN,NaN,NaN,'Produk,NaN,'Delivery,NaN,'Customer Service
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33633,'1637866841602154500,21/03/2023 00.20,'social_media,'twitter,'status,'talk,'keyword,'promo,'promo,'2155810365,...,NaN,NaN,NaN,NaN,NaN,'Produk,'Price,NaN,NaN,NaN
33634,'1637866840910094369,21/03/2023 00.20,'social_media,'twitter,'status,'talk,'keyword,'promo,'promo,'610536558,...,NaN,NaN,NaN,NaN,NaN,'Produk,'Price,NaN,NaN,NaN
33635,'1637865796415152159,21/03/2023 00.16,'social_media,'twitter,'status,'talk,'keyword,'promo,'promo,'1477566906152464385,...,NaN,NaN,NaN,NaN,NaN,'Produk,'Price,NaN,NaN,NaN
33636,'1637862208402014208,21/03/2023 00.02,'social_media,'twitter,'status,'talk,'keyword,'promo,'promo,'1242464871679057927,...,NaN,NaN,NaN,NaN,NaN,'Produk,'Price,NaN,NaN,NaN
33637,'1637861757988266005,21/03/2023 00.00,'social_media,'twitter,'status,'talk,'keyword,'promo,'promo,'1528870978687840259,...,NaN,NaN,NaN,NaN,NaN,'Produk,'Price,NaN,NaN,NaN

In [80]:
post_detail = [
    'original_id',
    'date_created',
    'specific_type',
    'post_type',
    'object_name',
    'content',
    'final_sentiment',
    'lang',
    'content_type'
] 
post_stats = [
    'followers',
    'share',
    'like',
    'comment',
    'engagement',
    'reach',
    'impression',
    'engagement_rate'
]
labels = [
    'delivery',
    'customerservice',
    'website&apps',
    'payment',
    'price'
]
used_col = post_detail+post_stats+labels

In [109]:
df = df[used_col]

# Post Detail

In [110]:
df['specific_type'].value_counts()

'status     33145
'comment      211
'media        141
'video         88
'post          53
Name: specific_type, dtype: int64

In [111]:
df['post_type'].value_counts()

'talk         32809
'post_made      829
Name: post_type, dtype: int64

only use talk post_type karena yang post_made hanya balasan dari admin sehingga kemungkinan besar tidak mengandung sentimen

In [112]:
df[df['post_type']=="'talk"]['content'].sample(5)

12274    'https://t.co/4dZ26Dfuzb  IPHONE 11 PRO MAX üíûüïäüö¶ 256 GB SECOND FULLSET READY STOCK Bro Sistüî•üëå via tokped bro sist.. yuk cek link toko üõíhttps://t.co/4dZ26Dfuzb  Ijin post min.. thanks admin #WTS ü•∞ #...
3188     '‚ú® Kecil Sepatu Kulit Wanita Tebal Bawah Tinggi Retro Bahasa Perancis Mary Jane Sepatu High Heels Jepan ‚ú®  ‚≠ê : 4,0 Cek Promo : https://t.co/AzF4BPUeuh Gratis Ongkir : https://t.co/9OZUl4kGlH https...
4911          '@suiswap_app Quite brilliant &amp; interesting projectüî• I really excited for this community is fast growing.  This has definitely huge potential as wellüöÄüöÄ #Sui  @danawallet  @bukalapak  @ovo_id
21658                                                               'We will provide an impartial judge. J _USE_OUNASS_CODE_NAMSHI_COUPON_NOON_DISCOUNT_SIVVI_PROMO own swirl still drif https://t.co/kxHSXjFrvS
9676     'Coba cek ini, deh: "Kurma Sukari 1 Kg Premium Timur Tengah Sukkari Original High Quality" Rp78.500 di toko Timur Tengah Indonesia Tokopedia. Bisa bebas ongkir, lho. https://t.co/vf4SWNBqnZ https:...
Name: content, dtype: object

In [113]:
df[df['post_type']=="'post_made"]['content'].sample(5)

12947                                                                                                        '@applejunpie Baik kak, mohon kesediaanya menunggu balasan DM dari mimin ya kak. Terima kasih üôè ^XA
4041     'Capek keluar rumah pas puasa mending belanja kebutuhan harian &amp; anak di LazMall Daily aja ü•∞ Ada Gratis Ongkir s.d. 40 Ribu &amp; sat set 1 Hari Sampai dirumah, loh~ Yuk, belanja: https://t.co...
12623    '@sefenism Hai kak, maaf ya buat bingung. Mengenai biaya pengiriman &amp; penggunaan voucher gratis ongkir. Aku infokan bahwa biaya ongkir di lht dari berat produk yg di beli ya Kak, dan pastikan ...
13246    '@cottoncndyyyyyy Hi Kak, maaf ya buat kendala paket yang lama sampainya. Mimin infoin terkait pengiriman ditentukan oleh jarak penjual dan pembeli, serta layanan jasa kirim yang kamu pilih. Kakak...
6136     'Gak takut kalo hari ini gloomy dan berawan ü•∫ Ada senyum CSR yang kaya vitamin C, segar manis dan bikin semangat ‚òÄÔ∏èüòé  #Ï≤´ÏÇ¨Îûë #CSR #MAEUM #ÎßàÏùå #girlgroup #mantulkorea #kpop #tbt #kpopindo #roiderois #...
Name: content, dtype: object

In [114]:
df['lang'].value_counts()

'en     22419
'in     10054
'es       131
'und      105
'tl        83
'pt        43
'fr        27
'qam       24
'th        21
'et        21
'qme       19
'ur        18
'ko        18
'tr        18
'de        16
'ht        14
'ro        12
'nl        10
'it        10
'pl        10
'ca         8
'fi         8
'da         8
'ja         8
'lt         6
'no         5
'cs         5
'hu         4
'hi         4
'ru         3
'eu         3
'cy         3
'qht        3
'ar         1
'is         1
'lv         1
'ta         1
Name: lang, dtype: int64

In [115]:
df[df['lang']=="'in"]['content'].sample(10)

5868                   '@ijinsu82269151 @suiswap_app @bukalapak @tokopedia Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
5844                          '@gaforse @suiswap_app @bukalapak @tokopedia Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
1899                                                                                                                           '@kittenandmehere pake shopee/tokped belum bisa kak admnya gede kalo tf/cod bisa
3382                                                            'Saya menjual flower wrist/corsage ... seharga Rp20.000. Dapatkan di Shopee sekarang! https://t.co/XHYPXjtJ7C #ShopeeID https://t.co/HhluWcXQFk
5014                 '@saltJoJo1011 @datamallcoin @tokopedia @PowerHasheur Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
5923    'WOW! Kamu terpilih dapatin voucher belanja Cashback langsung Rp50.000, gunakan untuk belanja di Ramadan in Style! Sebarkan ke 5 temanmu dan dapatkan voucher belanjanya!  https://t.co/WSuVwODLJk #...
3861                   '@gnwooo @suiswap_app @SuiMo_NFT @bukalapak @ovo_id Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
5387               '@pietatuffahaty3 @suiswap_app @tokopedia @mindblownnft Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
9703                                                                               'Sennheiser CX Plus dianggap TWS berkemampuan melebihi harganya.  https://t.co/yNyLGDQ68l Baterai tahan 24 jam True response
9058                                                                      'ini lucu banget hampers lebaran, kue mini dapet 11 biji, murah lagi, lumayan krna g ribet jga bawanya xoxoxo https://t.co/xYWWzt6ZAw
Name: content, dtype: object

In [116]:
df['post_type'].value_counts()

'talk         32809
'post_made      829
Name: post_type, dtype: int64

In [117]:
df['content_type'].value_counts()

'image     24196
'text       8607
'video       832
'others        3
Name: content_type, dtype: int64

In [118]:
df[df['content_type']=="'text"]['content'].sample(10)

6531                    '@ijinsu82269151 @suiswap_app @bukalapak @tokopedia Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
13619                                                                                'Bu qadƒ±n hardadƒ±? albomu ortaya atƒ±b toz oldu d…ô cidd…ôn, komandasƒ± da ke√ß…ôn ild…ôn qalma promo videolarƒ±n payla≈üƒ±rlar ancaq
6068                                                                                'Random photocard ofc .. Yg mau bisa langsung Co gaisüëáüëáüëçüëç Aku jual murah aja buat abisin pc" aku üôèüôè  https://t.co/t2VOEyaJi4
6181                                                                                                  '@Metavers_space_ @DataBlazeGame @Agus_4217 @beerbahagialah @mak3lar @danawallet @tokopedia  Good projects
1164                       '@asadujamn12 @suiswap_app @bukalapak @tokopedia Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
12696    '@hiyothisismee utk itu mohon menunggu selama 1-2 hari kerja hingga status pengiriman pesanan kamu diperbarui oleh pihak jasa kirim. lengkapnya cek dilink https://t.co/9q5zFbUQAT ya. utk pengeceka...
5884     '@bukalapak Hallo min saya, melakukan pembelian listrik melalui bukalapak, transfer sudah berhasil tapi pembelian masih dengan status menunggu pembayaran, pembayaran sudah dilakukan sejak pukul 08...
638      '@Web3_Protocol @PETAinft Very brilliant &amp; interesting project. I really excited for this  airdrop Its community is fast growing. This has definitely huge potential as well. And i hope this pr...
6283     'Min @tokopedia @TokopediaCare kapan sistem "2 kurir dalam 1 kiriman" di hapus? (Contohnya yang pickup sicepat, jne meneruskan), lamaaaa min, padahal mening kaya dulu anteraja/sicepat aja/jne aja ...
14386                                                                                                                                   '@UNYmfs tokped uda ga nyediain fitur itu. kl mau bayar lgsg ke rektorat
Name: content, dtype: object

In [126]:
df[df['content_type']=="'image"]['content'].sample(10)

30164    'Be. Focus field, but exalts those with wealth, power. use this _bath_and_body_onass_NOON_promo_NON_TOYOU_To_you_COUPON_SIVVI_NAMSHI_CODE_OUNAS_discount_OUNASS Clearly and sceptic. I am and what t...
18452    'This world, am master of use this _bath_and_body_onass_NOON_promo_NON_TOYOU_To_you_COUPON_SIVVI_NAMSHI_CODE_OUNAS_discount_OUNASS Make predictions coordinate; truth lives in the present as merely...
21472                                                         'd his head and writhed his face in _USE_OUNAS_CODE_ONASS_COUPON_TOYOU_NOON_DISCOUNT_ONAS_FORDEAL_PROMO ctor's arrival, wa https://t.co/drji1F1wCm
32399                                                                                                    '//wad promo  THEYRE CRYING NOOO PLEASE PLEASE RAINE ITS OKAY BABE ILL SAVE YOU https://t.co/u49w2DqfXL
24325                                                       'ith sticking-plaster and that one large pad of it  _Promo_Voucher_Iherb_Coupon_Code_Vitamin_Protein_S_ hyself after the wha https://t.co/aPlm6Iuz5D
25527                                                               'passion; nevertheless it may have bee _USE_OUNASS_CODE_NAMSHI_COUPON_NOON_DISCOUNT_SIVVI_PROMO shed partly as a sit https://t.co/V6cYurRCXy
22305                                                        'Mr. Holmes. No doubt you are right. But surely no _Promo_Voucher_Iherb_Coupon_Code_Vitamin_Protein_S_  published in Wappin https://t.co/BRpnUbEcwI
32070                                                       'llecting pillows from his bed and cushions from th _Promo_Voucher_Iherb_Coupon_Code_Vitamin_Protein_S_  number. As the boys https://t.co/Gdv9jcdOhm
13311    'The Brand New OLD SCHOOL CRUISE 2.0 is ON SALE NOW! Setting sail May 3-6th 2024 with a MASSIVE lineup! Reserve your cabin NOW for only $50 down. Go to https://t.co/2Ztblf58IU or call 888-639-8880...
32033                                                       'Sherlock Holmes" said my companion. "Possibly it i _Promo_Voucher_Iherb_Coupon_Code_Vitamin_Protein_S_ easonable surmise, w https://t.co/xmzB8gGzXC
Name: content, dtype: object

In [127]:
#preprocess
clean_df = df[(df['post_type']=="'talk")& #karena yg post
                    (df['lang']=="'in")&
                    (df['content_type']=="'text")
                    ]

In [128]:
clean_df.shape

(4872, 22)

In [129]:
clean_df['content'].sample(10)

7344                                                            'Saya telah mengirimkan #ShopeePayTHR üßß. Ayo, ambil di sini sebelum habis üëâüëâ https://t.co/vaeCD3F5yp #TransferPakaiShopeePay #GratisTanpaBatas p
10670    'WOW! Kamu terpilih dapatin voucher belanja Cashback langsung Rp50.000, gunakan untuk belanja di Ramadan in Style! Sebarkan ke 5 temanmu dan dapatkan voucher belanjanya!  https://t.co/suQy0xPpKM #...
8478                  '@MohdRashid302 @GloryFinanceio @bukalapak @tokopedia Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
13118                                                            'Ade ipar ngajarin kalo belanja di tiktok shop harganya lebih murah dari di shopee atau tokped. Hmm apakah udh saatnya ku punya akun tiktok?? ü§î
7606                   'SPESIAL dari FOOD MARKET: Ada Voucher Cashback S/D 30RB buat kamu! üëåüèª‚ú®   Gabung grup Shopee-ku sekarang sekarang juga dan ajak temanmu!. Langsung klik di sini üëâ https://t.co/r4Ir1AINGb
4204                     '@armankhanff2005 @beampadco @bukalapak @tokopedia Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
569                  '@UdemeA611 @suiswap_app @SuiMo_NFT @bukalapak @ovo_id Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
11884                      'open juga gestun  ü¶ï spaylater  ü¶ï kredivo  ü¶ï creditcard  ü¶ï traveloka vn ü¶ï BRI ceria ü¶ï indodana dll   via tokped atau token pln üêù‚ú®  https://t.co/DiVkQVr2Ew  #zonauang #zonaba #zonabu
6519             '@MohdRashid302 @Kwan_DAO0 @HorseaFi @bukalapak @tokopedia Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
5588                      '@LucienLeThug @suiswap_app @bukalapak @tokopedia Live Chat siap bantu keluhan transaksi kamu: Buka app DANA, pilih History/Riwayat,  pilih transaksi yg mau dilaporin dan pilih CHAT.
Name: content, dtype: object

# Label

In [130]:
clean_df[labels].isnull().sum()/clean_df.shape[0]*100

delivery           84.236453
customerservice    85.857964
website&apps       94.622332
payment            48.932677
price              70.689655
dtype: float64

In [131]:
clean_df.shape[0] - clean_df[labels].isnull().sum()

delivery            768
customerservice     689
website&apps        262
payment            2488
price              1428
dtype: int64

In [133]:
clean_df[~clean_df['website&apps'].isnull()]['content']

108                                                                    'Dapatkan Rumah Impian anda dengan mengunjungi website kami https://t.co/uQ6MC6STg0 atau user OLX kami https://t.co/UoDLWJxm5O #JualRumah
113      'Masker Spirulina, SOLUSI tepat untuk km yang punya kendala kulit kusam, jerawat, flek, komedo, dll. INFO invite PIN 752110c8/Sms 089666535630, info lengkap cek disini https://t.co/YVFu6tIYgH via ...
115      'Masker Spirulina, SOLUSI tepat untuk km yang punya kendala kulit kusam, jerawat, flek, komedo, dll. INFO invite PIN 752110c8/Sms 089666535630, info lengkap cek disini https://t.co/YVFu6tIYgH via ...
119                                                                    'Dapatkan Rumah Impian anda dengan mengunjungi website kami https://t.co/uQ6MC6STg0 atau user OLX kami https://t.co/UoDLWJxm5O #JualRumah
121      'Masker Spirulina, SOLUSI tepat untuk km yang punya kendala kulit kusam, jerawat, flek, komedo, dll. INFO invite PIN 752110c8/Sms 089666535630, info lengkap cek disini https://t.co/YVFu6tIYgH via ...
                                                                                                          ...
14961          'asliiiiiiiiik. banyak bgt aplikasinya. MRT tije trafi travi korlantas jaklingko krl KA bandara samsat bmkg jkn mpaspor kai access padahal bisa satu apps doang ky tokped https://t.co/hEsfzAlkb1
15040                                                             'Kenapa eror semua apk Marketplace ku sih üò≠üò≠ tokped gangguan apa gimana? Syopi juga kirim duit malah pending, ya Allah hari ini kenapa siiiiii
15044                                   '@TokopediaCare Atau emang konsep nya sama semua ya tokopedia care itu? Mau di instagram, twitter, email, bahkan di aplikasi tokped.  Semua nya buruk bgt pelayanan nya.
15221    '@IndiHomeCare Udh via lazada, tokped, my indihome dan shopee semua gagal dgn keterangan provider out of service Trus skrg malah jaringannya di isolir, lucu bat dah Yg gangguan siapa yg dirugiin s...
15241    '@xxxixcix @worksfess Kamu log in ke akun DJP kamu, abis itu pilih Menu BAYAR, pilih e-Billing, terus kamu input datanya Pilih Jenis Pajak PPH 21, Jenis Setoran Masa, Masa Pajak 01 - 12, Tahun paj...
Name: content, Length: 262, dtype: object

In [134]:
clean_df.to_csv('clean_df.csv', index=False)